<div class="footer-margin">
    <footer class="card-footer bg-light footer-font-style text-muted footer-position text-center">Built by</footer>
    <footer class="bg-light footer-font-style text-muted footer-position text-center"><a href="https://github.com/birnadam" target="_blank">Birna Dam</a>
        <footer class="bg-light footer-font-style text-muted footer-position text-center"><a href="https://github.com/GarrettYoung510" target="_blank">Garrett Young</a>
        </footer>
          </div>
          
    </body>
</html>