<div class="footer-margin" id="sticky-footer">
    <footer class="footer footer-font-style footer-position text-center">Built for <i class="fas fa-dog"></i> by</footer>
    <footer class=" footer-font-style text-muted footer-position text-center"><a href="https://github.com/birnadam" target="_blank">Birna Dam <i class="fab fa-github"></i></a>
        <footer class=" footer-font-style text-muted footer-position text-center"><a href="https://github.com/GarrettYoung510" target="_blank">Garrett Young <i class="fab fa-github"></i></a>
        </footer>
        <!-- <hr> -->
          </div>
          
    </body>
</html>