<!DOCTYPE html>
<html>
  <head>
    <meta property='og:image' content='https://static.getmatcha.com/image/upload/s--36SUB1oA--/f_auto,q_auto,t_rr_large_traditional/dra3m6bglsbhshaumtwn.jpg'/>    
    <meta property='og:title' content='Woof'/>
    <meta property='og:description' content='Website Logo'/>
    <meta property='og:url' content='http://www.woof-yelp-clone.herokuapp.com/'/>

    <title>Woof</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/miscellanea-set-4/100/_-4-512.png" type="image/x-icon">
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="titleFont" href="/"><i class="fas fa-paw"></i> Woof</a>
        <div class="nav">
          <ul class="navbar-nav mr-auto">
            <% if(!currentUser) { %>
              <li class="mr-2"><a href="/login">Login</a></li>
              <li><a href="/register">Sign Up</a></li>
            <% } else { %>
              <li class="mr-2"><a href ="#"><i class="fas fa-user"></i> <%= currentUser.username %></a></li>
              <li><a href="/logout"><i class="fas fa-door-open"></i> Logout </a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>

