<% include ../partials/header %>
<div class="container">
  <!-- will refactor styles later -->
  <div class="row">
    <h1 style="text-align: center; padding-right: 10%;">Add New Comment to <br> <%= campground.name %></h1>
    <div style="width: 50%; margin: 25px auto;">
      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="comment[text]"
            placeholder="comment"
            required
          />
          <button class="btn btn-lg btn-primary mt-3">Submit <i class="fas fa-sign-in-alt"></i></button>
        </div>
      
      <!-- <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="comment[author]"
          placeholder="author"
          required
        />
      </div> -->
      <!-- <div class="form-group">
        
      </div> -->
      </form>
      <a href="/campgrounds" class="text-center"><i class="fas fa-long-arrow-alt-left"></i> Go Back</a>
    </div>
  </div>
</div>
<% include ../partials/footer %>
