<!DOCTYPE html>
<html>
  <head>
    <title>Woof</title>
    <meta property='og:image' content='https://static.getmatcha.com/image/upload/s--36SUB1oA--/f_auto,q_auto,t_rr_large_traditional/dra3m6bglsbhshaumtwn.jpg'/>    
    <meta property='og:title' content='Woof'/>
    <meta property='og:description' content='Website Logo'/>
    <meta property='og:url' content='http://www.woof-yelp-clone.herokuapp.com/'/>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/miscellanea-set-4/100/_-4-512.png" type="image/x-icon">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    >
    </script>
  </head>
  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>

    <div id="landing-header">
      <h1>Welcome to Woof !</h1>
      <a href="/dogparks" class="btn btn-lg btn-success"
        ><i class="fas fa-dog"></i><i class="fas fa-tree"></i>View all Dog
        Parks</a
      >
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
