<% include ./partials/header %>

<h1>Login</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button class="btn btn-success btn-sm mb-1">Login <i class="fas fa-sign-in-alt"></i></button>
</form>

<% include ./partials/footer %>