body {
  background: lightgray;
  overflow-x: hidden;
  flex: 1 0 auto;
  height: 100%;
}

.navbar {
  background: #6aaf42;
  color: whitesmoke;
}

.titleFont {
  font-size: 22px;
  color: #ffcf40;
  margin: 10px 20px;
}

a {
  color: whitesmoke;
}

a:hover {
  color: darkslategray;
}

.jumbotron .btn {
  background: #fd7852;
  color: whitesmoke;
  border-radius: 15px;
}

.jumbotron .btn:hover, .form-group .btn:hover{
  box-shadow: 2px 1px 1px #ffcf40;
  color: #ffcf40;
}

.container .btn, .formContainer .btn {
  background: #ffcf40;
  color: black;
  border-radius: 15px;
}

.container .btn:hover {
  box-shadow: 2px 1px 1px #fd7852;
  color: #fd7852;
}

.jumbotron {
  background: #99c760;
  color: whitesmoke;
  border-radius: 0;
}

.container {
  padding: 3% 5%;
  border-radius: 15px;
  background: whitesmoke;
  margin-bottom: 3%;
}

.formContainer{
  border-radius: 15px;
  background: whitesmoke;
  width: 75%;
  padding: 3% 3%;
  margin: 3% auto;
}

.formContainer a {
  color: black;
}

.formContainer a:hover {
  color: #6aaf42;
}

.thumbnail img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 15px;
}

.orangeBG {
  background: #fd7852;
  color: white;
}

.list-group {
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group .btn{
  background: darkslategray;
  color: white;
}

.form-control {
  border-radius: 10px;
  background: lightgray;
}

.delete-form {
  display: inline;
}

.footer-margin {
  margin-top: 10px;
  padding-top: 15px;
  height: 100px;
  background: #99c760;
  color: whitesmoke;
}

#sticky-footer {
  flex-shrink: none;
}


html, body {
  height: 100%;
  margin: 0;
}

/* .wrapper {
  min-height: 42%;
  margin-bottom: -50px;
} */






@media screen and (min-width: 40px){

  .push {
    margin-top: 60px;
    height: 40px;
  }

  .formContainer {
    margin-top: 50px;
    height: 50%;
  }
}
/* 
@media screen and (max-width: 550px){
  .footer-margin {
    margin-top: 81px;
    padding-top: 15px;
    height: 100px;
    background: #99c760;
    color: whitesmoke;
  }
} */ 