<% include ../partials/header %>
  <header class="jumbotron">
    <div class="d-block w-75 mx-auto text-center">
      <h1>Welcome to Woof</h1>
      <p>
        A site created for our furry friends.
        <br>
        See below for selections of Dog Parks
        <br>
        or add your own!
      </p>
      <p>
        <a href="/dogparks/new" class="btn btn-lg"
          ><i class="fas fa-plus"></i> Add Dog Park </i></a
        >
      </p>
    </div>
  </header>
  <div class="row">
      <div class="col-lg-12 ml-4 pl-4 mb-3 text-center">
        <h3>Most Popular Dog Parks</h3>
      </div>
    </div>
<div class="container">
  <div class="row text-center">
    <% dogParks.forEach(dogpark => { %>
    <div class="col-lg-12 mb-3">
      <div class="thumbnail mt-3">
        <img src="<%= dogpark.image %>" />
      </div>
        <div class="caption">
          <h4><%= dogpark.name %></h4>
        </div>
        <p>
          <a href="/dogparks/<%= dogpark._id %>" class="btn"
            >More Info <i class="fas fa-info-circle"></i></a>
        </p>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
